.form_style input{
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 10%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

.form_style button[type="submitx"],
.form_style button[type="button"]
{
	position: relative;
	display: block;
	padding: 10px 30px 10px 30px;
	color: #FFF;
	margin: 0 auto;
	background: #309AFD;
	font-size: 15px;
	text-align: center;
	font-style: normal;
	width: 15%;
	border: 1px solid #090086;
	border-width: 1px 1px 3px;
}

.form_style button[type="submitx"]:hover,
.form_style botton[type="button"]:hover
{
	background: #090086;
}